# Host build
#.git
#.yarn/cache
#.yarn/install-state.gz
#node_modules
#packages/*/src
#packages/*/node_modules
#plugins
#*.local.yaml

# Multi stage build
#dist-types
#node_modules
#packages/*/dist
#packages/*/node_modules
#plugins/*/dist
#plugins/*/node_modules

# Separate frontend and backend
.git
dist-types
node_modules
packages/*/dist
packages/*/node_modules
plugins/*/dist
plugins/*/node_modules